.equipe{
  height: 50%;
}
.banner {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner video {
    object-fit: cover;
    width: 100%;
  }
  .banner .content {
    position: absolute;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
  }
   .content h1 {
    font-size: 2em;
    text-transform: uppercase;
    color: #ffff;
  }
 
  
  @media (max-width: 999px) {
    .content h1 {
        font-size: 1.75em;
      }
  }
  @media (max-width: 600px) {
    .content h1 {
        font-size: 1.25em;
      }
  }
  
