.sobre{  
  background-color: #99EBE9;
  grid-area: sobre;
  display:grid;
  grid-template-areas: "imagem description";
  grid-template-columns: 1fr 1fr;
  
}
.description{
  grid-area: description;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.description-title{
  font-size: 3.5rem;
}
.description-text{
  font-size: 1.25rem;
  padding-top: 50px;
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: center;
}

.button{
  position: relative;
  transform: translateY(100px);
  font-size: 1.25rem;
  background-color: #B682F6;
  border: 2px solid #97B1BF;
  width: 50%;
  height: 10vh;
  border-radius: 0.6em;
  cursor: pointer;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  overflow: hidden;
}


.button:hover{
 background:#862ff0;
 box-shadow:0px 4px 10px 5px #97B1BF;
 color:#000;
}




  
  
  @keyframes display {
    0% {
      transform: translateZ(200px);
      opacity: 0;
    }
    10% {
      transform: translateZ(0);
      opacity: 1;
    }
    20% {
      transform: translateZ(0);
      opacity: 1;
    }
    30% {
      transform: translateZ(-200px);
      opacity: 0;
    }
    50% {
      transform: translateZ(-200px);
      opacity: 0;
    }
    70% {
      transform: translateZ(-200px);
      opacity: 0;
    }

    100% {
      transform: translateZ(-200px);
      opacity: 0;
    }
  }
  
   .pic-ctn {
    align-items: center;
    grid-area: imagem;
    position: relative;
    width: 50%;
    height: 100%;
    margin-top: 5vh;
    margin-left: 5vh;
  } 
  
  .pic-ctn > img {
    position: absolute;
    opacity: 0;
    animation: display 60s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 10s;
  }
  img:nth-child(3) {
    animation-delay: 20s;
  }
  img:nth-child(4) {
    animation-delay: 30s;
  }
  img:nth-child(5) {
    animation-delay: 40s;
  }
  img:nth-child(6) {
    animation-delay: 50s;
  }
  img:nth-child(7) {
    animation-delay: 60s;
  }

  @media (max-width: 999px) {
    .description-title{
      font-size: 3rem;
    }
    .description-text{
      font-size: 1rem;
    }
    .button{
      font-size: 1rem;
      transform: translateY(50px);
      height: 7vh;
    }

  }
  @media(max-width: 600px){
    .sobre{
      background-color: #99EBE9;
      grid-area: sobre;
      display:grid;
      grid-template-areas: "imagem imagem"
      "description description";
      grid-template-columns: 1fr 1fr;
    }
    .pic-ctn{
      margin-left: 5vh;
    }
    .pic-ctn img{
      height: 500px;
    }
    .description{
      display: flex;
      justify-content: flex-start;
      margin-top: 50vh;
    }
    
  }