body{
    background-color: chocolate;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

header{
    background-color: #00c7c4;
    height: 15vh;
    width: 100%;
}
section{
    height: 110vh;
}


